body{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 10px;
}
.left-photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.right-photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.header-title{
    font-size: 2rem;
    font-weight: bold;
}
.header-text{
    font-size: 1.2rem;
}
.card-image img{
    width: 150px;
    height: 150px;
}

.card{
    text-align: center;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 350px;
}
.card img{
width: 200px;
height: 200px;
}
.sec-1{
    margin-bottom: 30px;
}
.first-three{
    display: flex;
    justify-content: space-around;
}
.player-list{
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    width: 300px;
    height: 350px;
  
}
.list-player-sizing li{
    padding: 8px;
}
.player-ul li {
    padding: 5px;
}
.name{
    font-size: 1.2rem;
}
.btn{
    background-color: green ;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 30px;
    text-decoration: none;
}
.last-three{

    display: flex;
    justify-content: space-around;

}
.player-calculate{
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* .player-list-calculate{ */
    /* text-align: center; */
    /* background-color: grey; */
    /* border-radius: 10px; */
    /* width: 200px; */
    /* height: 450px; */
/* } */

.player-calculate input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.name-sizing{
    font-size: 1.3rem;
}
.calc-btn{
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: cornflowerblue;
    border: none;
    border-radius: 8px;
    margin: 5px 0;
}

