body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #eee;
}
.banner{
    background-color: #bccbde;
    display: flex;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
    padding: 10px;
}
.left-div img{
width: 150px;
height: 150px;
border-radius: 50%;
}
.right-div img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.mid-div{
    text-align: center;
    padding: 10px;
}